{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="comments-section"  id="comments">
        <h2>Comments 0</h2>
        {% for comment in comments%}
        
        <div class="comments-list" >
            <div class="comment">
                <img src="" class="comment-avatar">
                <div class="comment-details">
                    <h3 class="comment-author">arya</h3>
                    <p class="comment-timestamp">Recently</p>
                    <p class="comment-content">{{comment.comment}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="comment-form">
            <textarea placeholder="Add a comment..."></textarea>
            <div>
                <button class="submit-comment" style="cursor: pointer;">Submit</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/comments.js' %}"></script>
</body>
</html>