{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.signup.full_name}}</title>
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
    <header class="header">
        <img src="{% static 'images/logo_bi.png' %}" alt="ListingPro Logo" class="logo">


        <div class="sidebar">
            <li onclick=hideSidebar() style="list-style: none;"><a href="#"><svg xmlns="http://www.w3.org/2000/svg"
                        height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                        <path
                            d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                    </svg></a></li>
        </div>

        <div class="nav_container">
            <div class="search-bar">
                <input type="text" placeholder="What: food, service, barber, hotel" class="input1">
                <input type="text" placeholder="Where: Your City" class="input1">
                <button type="button" id="ser_btn"><i class='bx bx-search-alt-2' id="searchicon"></i></button>
            </div>
            <div class="actions">
                {% if user.id == profile_user.id %}
                {% if user.is_superuser %}
                <button onclick="addListing()" class="add-listing"><i class='bx bxs-plus-circle' id="user1"></i> Add Listing</button>
                {%endif%}
                <button onclick="logout()" class="sign-in">Log Out</button>
                {%endif%}
            </div>
            <li onclick=showSidebar() style="list-style: none; margin-right: 11px;" class="toggle"><a href="#"><svg
                        xmlns="http://www.w3.org/2000/svg" height="4rem" viewBox="0 -960 960 960" width="24px"
                        fill="#e8eaed">
                        <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
                    </svg></a></li>
        </div>
    </header>
    <div class="wrapper">
        <div class="content-wrapper">
            <section class="content profile">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-headshot" style="height: 6em;
                                width: 6em;
                                border-radius: 50%;
                                border: 2px solid #009688;
                                background-image: url('{{profile_user.image.url}}');
                                background-size: cover;
                                background-position: center center;
                                box-shadow: 1px 3px 3px #3E4142;">
                                    <!-- <img src="" alt=""> -->
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="card-content-member text-center">
                                    <h4 class="m-t-0">{{profile_user.full_name}}</h4>
                                    <p class="m-t-0">{{profile_user.address}}</p>
                                </div>
                                <div class="card-content-languages">
                                    <!-- <div class="card-content-languages-group">
                                    </div> -->
                                </div>
                                <div class="card-content-summary">
                                    <p>Specialties are Creative UI, HTML5, CSS3, Semantic Web, Responsive Layouts, Web
                                        Standards Compliance, Performance Optimization, Cross Device Troubleshooting.
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-footer-stats">
                                    <div>
                                        <p>PROJECTS:</p>
                                        <i class="fa fa-users"></i><span>241</span>
                                    </div>
                                    <div>
                                        <p>MESSAGES:</p>
                                        <i class="fa fa-coffee"></i><span>350</span>
                                    </div>
                                    <div>
                                        <p>Last online</p>
                                        <span class="stats-small">3 days ago</span>
                                    </div>
                                </div>
                                <div class="card-footer-message">
                                    <h4><i class="fa fa-comments"></i> Message me</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="row" style="margin-top: 0%;">
                            <div class="col-sm-12 col-md-6">
                                <div class="rating-block">
                                    <h4>Average user rating</h4>
                                    <h2 class="m-b-20">4.3 <small>/ 5</small></h2>
                                    <button type="button" class="btn btn-rating btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"><i class="fa fa-star"
                                                aria-hidden="true"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-rating btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"><i class="fa fa-star"
                                                aria-hidden="true"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-rating btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"><i class="fa fa-star"
                                                aria-hidden="true"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"><i class="fa fa-star"
                                                aria-hidden="true"></i></span>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"><i class="fa fa-star"
                                                aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <h4 class="m-t-0">Rating breakdown</h4>
                                <div class="pull-left">
                                    <div class="review-number">
                                        <div>5 <span class="glyphicon glyphicon-star"></span><i class="fa fa-star"
                                                aria-hidden="true"></i></div>
                                    </div>
                                    <div class="review-progress">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped active"
                                                role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5"
                                                style="width: 90%">
                                                <span class="sr-only">90% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-number">1</div>
                                </div>
                                <div class="pull-left">
                                    <div class="review-number">
                                        <div>4 <span class="glyphicon glyphicon-star"><i class="fa fa-star"
                                                    aria-hidden="true"></i></span></div>
                                    </div>
                                    <div class="review-progress">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-bar-striped active"
                                                role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5"
                                                style="width: 80%">
                                                <span class="sr-only">80% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-number">1</div>
                                </div>
                                <div class="pull-left">
                                    <div class="review-number">
                                        <div>3 <span class="glyphicon glyphicon-star"><i class="fa fa-star"
                                                    aria-hidden="true"></i></span></div>
                                    </div>
                                    <div class="review-progress">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped active"
                                                role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5"
                                                style="width: 70%">
                                                <span class="sr-only">70% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-number">0</div>
                                </div>
                                <div class="pull-left">
                                    <div class="review-number">
                                        <div>2 <span class="glyphicon glyphicon-star"><i class="fa fa-star"
                                                    aria-hidden="true"></i></span></div>
                                    </div>
                                    <div class="review-progress">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                                role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5"
                                                style="width: 60%">
                                                <span class="sr-only">60% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-number">0</div>
                                </div>
                                <div class="pull-left">
                                    <div class="review-number">
                                        <div>1 <span class="glyphicon glyphicon-star"><i class="fa fa-star"
                                                    aria-hidden="true"></i></span></div>
                                    </div>
                                    <div class="review-progress">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-violet progress-bar-striped active"
                                                role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5"
                                                style="width: 50%">
                                                <span class="sr-only">50% Complete (danger)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="progress-number">0</div>
                                </div>
                            </div>
                        </div>
                        {% for listing in listings %}
                        <div class="review-block">
                            <div class="row" style="margin-top: 0;">
                                <div class="col-sm-3">
                                    <div class="review-block-img">
                                        <img src="{{listing.thumbnail.url}}" class="img-rounded" alt="">
                                    </div>
                                    <div class="review-block-name"><a href="#">{{listing.title}}</a></div>
                                    <div class="review-block-date">{{listing.created_at}}<br>{{ listing.created_at | timesince }}</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                    </div>
                                    <div class="review-block-title">{{listing.tagline}}</div>
                                    <div class="review-block-description">{{listing.description}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- <div class="row" style="margin-top: 0;">
                                <div class="col-sm-3">
                                    <div class="review-block-img">
                                        <img src="avatar2.png" class="img-rounded" alt="">
                                    </div>
                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                    <div class="review-block-date">January 29, 2016<br>1 day ago</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                    </div>
                                    <div class="review-block-title">this was nice in buy</div>
                                    <div class="review-block-description">this was nice in buy. this was nice in buy.
                                        this was nice in buy. this was nice in buy this was nice in buy this was nice in
                                        buy this was nice in buy this was nice in buy</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row" style="margin-top: 0;">
                                <div class="col-sm-3">
                                    <div class="review-block-img">
                                        <img src="avatar3.png" class="img-rounded" alt="">
                                    </div>
                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                    <div class="review-block-date">January 29, 2016<br>1 day ago</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="review-block-rate">
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-rating btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"><i
                                                    class="fa fa-star" aria-hidden="true"></i></span>
                                        </button>
                                    </div>
                                    <div class="review-block-title">this was nice in buy</div>
                                    <div class="review-block-description">this was nice in buy. this was nice in buy.
                                        this was nice in buy. this was nice in buy this was nice in buy this was nice in
                                        buy this was nice in buy this was nice in buy</div>
                                </div>
                            </div> -->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <strong>
                Copyright © 2016-2017
                <a href="#">Thememinister</a>
                .
            </strong>
            All rights reserved.
        </footer>
    </div>
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Confirmation</h2>
            <p>Are you sure you want to log out?</p>
            <div class="buttons">
                <button id="logoutConfirm"><ion-icon name="log-out-outline"></ion-icon>Log Out</button>
                <button id="logoutCancel">Cancel</button>
            </div>
        </div>
    </div>
    <script>
        // let subMenu1 = document.getElementById("subMenu1");
        // function toggleMenu1() {
        //     subMenu1.classList.toggle("open-menu");
        // }
        // let subMenu2 = document.getElementById("subMenu2");
        // function toggleMenu2() {
        //     subMenu2.classList.toggle("open-menu");
        // }
        // let subMenu3 = document.getElementById("subMenu3");
        // function toggleMenu3() {
        //     subMenu3.classList.toggle("open-menu");
        // }
        // let subMenu4 = document.getElementById("subMenu4");
        // function toggleMenu4() {
        //     subMenu4.classList.toggle("open-menu");
        // }
        // let subMenu5 = document.getElementById("subMenu5");
        // function toggleMenu5() {
        //     subMenu5.classList.toggle("open-menu");
        // }
        // let subMenu6 = document.getElementById("subMenu6");
        // function toggleMenu6() {
        //     subMenu6.classList.toggle("open-menu");
        // }
    </script>
    <!-- <script src="script.js"></script> -->
    <script>
        function logout() {
            const modal = document.getElementById("logoutModal");

            const span = document.getElementsByClassName("close")[0];

            const confirmBtn = document.getElementById("logoutConfirm");
            const cancelBtn = document.getElementById("logoutCancel");

            modal.style.display = "block";

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            confirmBtn.onclick = function () {
                window.location.href = '/user_logout'
            }

            cancelBtn.onclick = function () {
                modal.style.display = "none";
            }
        }
        function addListing(){
            window.location.href= '/'
        }
    </script>
</body>

</html>