{% include 'header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reels_city_style.css' %}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <title>shorts scroller</title>
</head>

<body>


    {% for video_data in videos %}
    <div class="container">
        <div class="cont">
            <div class="box" style="margin: 10px 0px;">
                <video class="responsive-video" width="100%" height="auto">
                    <source src="{{video_data.video.Video.url}}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="icons">
            <div class="like-container">
                <div class="like">
                    <button onclick="like_button({{video_data.video.video_id}})"
                        style="border: none; font-size: 1rem; cursor: pointer;">
                        <i id="thumbs_up{{video_data.video.video_id}}" class="fa fa-thumbs-up fa-2x"
                            aria-hidden="true"></i>
                    </button>
                </div>
                <span class="count" data-id="like{{video_data.video.video_id}}">{{video_data.likes_count}}</span>
            </div>
            <div class="like-container">
                <div class="like">
                    <button onclick="dislike_button({{video_data.video.video_id}})"
                        style="border: none; font-size: 1rem; cursor: pointer;">
                        <i id="thumbs_down{{video_data.video.video_id}}" class="fa fa-thumbs-down fa-2x"
                            aria-hidden="true"></i>
                    </button>
                </div>
                <span class="count" data-id="dislike{{video_data.video.video_id}}">{{video_data.dislikes_count}}</span>
            </div>
            <div class="like-container">
                <div class="like">
                    <button onclick="comment_button({{video_data.video.video_id}})"
                        style="border: none; background-color: transparent; font-size: 1rem; cursor: pointer;">
                        <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <div class="like-container">
                <div class="like">
                    <button onclick="showShare()"
                        style="border: none; background-color: transparent; font-size: 1rem; cursor: pointer;">
                        <i class="fa fa-share fa-2x" aria-hidden="true"></i>
                    </button>

                </div>
            </div>
        </div>
        <div class="comments-section" style="display: none;" id="comments{{video_data.video.video_id}}">
            <h2>Comments <span id="length{{video_data.video.video_id}}"></span> </h2>

            <div class="comments-list{{video_data.video.video_id}}">
                <div id="newcomment"></div>
            </div>

            <div class="comment-form">
                <textarea id="comment_textarea" placeholder="Add a comment..."></textarea>
                <div>
                    <button class="submit-comment" onclick="addComment(event,{{video_data.video.video_id}})"
                        style="cursor: pointer;">Submit</button>
                    <div id="emptyerror"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="share-container" style="display: none;">
        <div class="share-header">
            <span>Share</span>
            <button onclick="closeShare()" class="close-btn">&times;</button>
        </div>
        <div class="share-options">
            <div class="share-option">
                <button class="button" data-sharer="whatsapp" data-title="Checkout Sharer.js!"
                    data-url="https://ellisonleao.github.io/sharer.js/"><i class="fa-brands fa-whatsapp"></i>
                    <span>Whatsapp</span>
                </button>
            </div>
            <div class="share-option">
                <button class="button" data-sharer="telegram" data-title="Checkout Sharer.js!"
                    data-url="https://ellisonleao.github.io/sharer.js/">
                <i class="fa-brands fa-telegram"></i>
                <span>Telegram</span>
            </button>
            </div>
            <div class="share-option">
                <button class="button" data-sharer="facebook" data-hashtag="hashtag" data-url="https://ellisonleao.github.io/sharer.js/">
                    <i class="fa-brands fa-facebook"></i>
                    <!-- <span>Facebook</span> -->
                    Facebook
                </button>
            </div>
            <div class="share-option">
                <button class="button" data-sharer="x" data-title="Checkout Sharer.js!"
                    data-hashtags="awesome, sharer.js" data-url="https://ellisonleao.github.io/sharer.js/">
                    <i class="fa-brands fa-x-twitter"></i>
                    <span>X</span>
                </button>
            </div>
        </div>
        <div class="share-link">
            <input type="text" value="https://youtube.com/shorts/X9DugSavAk9a=bvUgFj6Oz" readonly>
            <button class="copy-btn">Copy</button>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{% static 'js/reels_city.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sharer.js@0.5.2/sharer.min.js"></script>
</body>

</html>